.card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    transition: scale 200ms ease-in-out;
    cursor: pointer;
}
.card:hover {
    filter: brightness(95%);
    scale: 1.05;
}
.card.standout {
  box-shadow: 0 0 0 2px;
}